li{
    list-style-type: none;
}
.bgMostaza{
    background-color: #D39914;
}
.fontMegrim, .fontMegrimNav{
    font-family: 'Megrim', cursive;
    font-size: 25px;
    color: black;
}
.bgVerde {
    background-color: #08824c;
}
.bordeRedondo {
    border-radius: 20px;
}